.AdviceCard{
    background-color: hsl(217, 19%, 24%);
    width: 540px;
    text-align: center;
    padding: 2rem 48px 6.375rem;
    border-radius: 1rem;
}

@media screen and (max-width: 580px) {
    .AdviceCard{
        width: 358px;
        padding: 2rem 8px 6.375rem;
    }
}