@font-face {
  font-family:Manrope ;
  src: url(./assets/font/Manrope-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app{
  background-color:hsl(218, 23%, 16%);
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

main{
  min-height: 100vh;
  padding: 225px 0 100px;
  display: flex;
  justify-content: center;
  align-items:start;
}

@media screen and (max-width: 580px) {
  main{
    padding:119.8px 0 100px;
  }
}

.card-container{
  Position:relative;
  width: 540px;
}

@media screen and (max-width: 580px) {
  .card-container{
    width: min(90%,358px);
  }
}

.pattern-divider-desktop{
  Position:absolute;
  left:50%;
  bottom:4.22rem;
  transform: translate(-50%,0);
  display: block;
}

.pattern-divider-mobile{
  Position:absolute;
  left:50%;
  bottom:4.22rem;
  transform: translate(-50%,0);
  display: none;
}

@media screen and (max-width: 580px) {
  .pattern-divider-desktop{
    display: none;
  }

  .pattern-divider-mobile{
    display: block;
  }
}

.button-container{
  Position:absolute;
  left:50%;
  bottom: 0px;
  transform: translate(-50%,50%);
}

.attribution-container{
  position:relative;
}

.attribution {
  font-size: .688rem;
  position:absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  color:hsl(30, 100%, 50%);
}

.attribution a {
  color:  hsl(216, 53%, 50%);
}